.container {
    background: hsl(204, 96%, 19%);
    position: absolute;
    top: 0;
    left: 0;
    height: max-content;
    min-height: 100%;
    width: 100%;

    .headingContainer {
        margin-top: 5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space;
        padding-bottom: 15em;
        max-width: 100%;
        overflow: hidden;

        .Heading {
            max-width: 100%;
            word-wrap: break-word;
            overflow-wrap: break-word;
            white-space: normal;
            font-weight: 700;
            letter-spacing: 20px;
            font-family: Ancizar Sans, 'Arial Narrow Bold', sans-serif;
            font-size: 10rem;

            @media screen and (max-width: 768px) {
                font-size: 5rem;
            }
        }

        .SubHeading {
            font-family: consolas;
            justify-content: right;
            background: rgb(25, 25, 25);
        }

        .SubHeading::before {
            content: "-";
        }

        .SubHeading::after {
            content: '';
            animation-name: blink;
            animation-duration: 1s;
            animation-iteration-count: infinite;
        }

    }

    .cardContainer {
        background: rgb(255, 123, 0);
        width: 100%;
        height: 200px;
        position: absolute;
        padding: 0;

        .containerCover {
            position: fixed;
            z-index: 10;
            top: auto;
            left: 0;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            display: flex;
            height: auto;
            flex-wrap: wrap;
        }

        .exploreContainer {
            padding: 50px;
            width: 500px;
            display: flex;
            align-items: center;
            justify-content: center;

            >* {
                font-family: Ancizar Sans, serif;
                font-size: 2rem;
                background-color: rgb(1, 36, 60);
                transition: all 0.1s ease-in-out;
                border-radius: 0;
                padding: 0;
                width: 300px;
                position: fixed;
                overflow: hidden;

                @media screen and (max-width: 768px) {
                    width: 100%;
                }
            }


            >*>* {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-grow: 1;
                padding: 10px 20px;
            }

            >*:hover {
                box-shadow: 0 10px 13px 4px rgba(0, 0, 0, 0.4);
                transform: translateY(-10px) scale(1.01);
                border-radius: 10px;
            }

            >*:active {
                transition: all 10ms;
                transform: translateY(0) scale(1.02);
            }

            >*>*::after {
                display: flex;
                align-items: center;
                background: rgba(56, 0, 0, 0.7);
                border-radius: 100%;
                height: 45px;
                width: 45px;
                transition: all 0.1s ease-in-out;
                transform: translateX(-20px);
                text-align: right;
                content: '→';
            }

            >*:hover>*::after {
                transform: translateX(0);
                scale: 2.6;
            }
        }
    }
}

@keyframes blink {
    0% {
        content: '';
    }

    50% {
        content: '|';
    }
}